h1{

  color: red;
}
table{
  text-align: center;
  background-color: #04163a;

}
div{
  margin-left: 40%;
  margin-top: 5%;


}
input{
padding-left: 23px;
padding-top: 10px;
background-color:white;


}
